<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="renderer" content="webkit">
		<title>绩效自评</title>
		<link rel="stylesheet" type="text/css" href="css/common.css"/>
		<link rel="stylesheet" type="text/css" href="css/index.css"/>
		<script type="text/javascript" src="js/jquery.min.js" ></script>
		<script type="text/javascript" src="js/commons.js" ></script>
	</head>
	<body class="hei">
		
		<!--左边导航-->
		<div class="lf_nav">
			<div class="top">
				<a href="###">
					<img class="logo1" src="img/png/logo1.png"/>
					<img class="logo2" src="img/png/logo2.png"/>
				</a>
			</div>
			
			<ul class="lf_ul clearfix">
				<li class="active">
					<a href="###">
						<span>首页</span>
					</a>
				</li>
				<li>
					<a href="###">
						<span>考核待办</span>
					</a>
				</li>
				<li>
					<a href="###">
						<span>考核模板</span>
					</a>
				</li>
				<li>
					<a href="###">
						<span>目标管理</span>
					</a>
				</li>
				<li>
					<a href="###">
						<span>考核结果</span>
					</a>
				</li>
				<li>
					<a href="###">
						<span>团队管理</span>
					</a>
				</li>
				<li>
					<a href="###">
						<span>企业设置</span>
					</a>
				</li>
			</ul>
			
		</div>
		
		<!--上导航-->
		<div class="top_nav clearfix">
			<!--内容导航-->
			<div class="nav_con clearfix">
				<a class="nav_a active" href="###">个人绩效</a>
				<a class="nav_a" href="###">团队绩效</a>
				<a class="nav_a" href="###">所以成员绩效</a>
			</div>
			
			
			<!--个人中心、头像-->
			<div class="head_img">
				<a href="###">
					<span></span>
					<i>
						<img src="img/heda_img.jpg" alt="" />
					</i>
				</a>
			</div>
			
			<!--消息提醒-->
			<div class="message">
				<a href="###">
					<i class="active"></i>
				</a>
			</div>
			
			<!--搜索-->
			<div class="nav_search">
				<form>
					<input class="in_text" type="text"/>
					<input class="in_btn" type="submit" value=""/>
				</form>
			</div>
			
		</div>
		
		<!--右边主内容-->
		<div class="rftext_con khdb_text  clearfix">
			<div class="jixioa_zp" class="clearfix">
				<h1>2018年12月 绩效考核</h1>
				
				<ol class="xxk_ol clearfix">
					<li class="active">王二小</li>
					<li>王小</li>
					<li>王二</li>
				</ol>
				<dl>
					<dt>单项选择题</dt>
					<dd>
						<ul class="dx_ul li_xiab clearfix">
							<li class="clearfix">
								<div class="bt clearfix">
									<p class="p1">
										<em>1</em>.
										<span>这个月新建客户是否有200个？</span>
									</p>
									<p class="p2">分值：<span>10</span></p>
									<p class="p2">设置权重：<span>10</span>%</p>
									<p class="p4">每月最低要求200个</p>
								</div>
								<div class="da_an clearfix">
									<span class="span_dax active">是</span>
									<span class="span_dax">否</span>
								</div>
							</li>
							<li class="clearfix">
								<div class="bt clearfix">
									<p class="p1">
										<em>1</em>.
										<span>这个月新建客户是否有200个？</span>
									</p>
									<p class="p2">分值：<span>10</span></p>
									<p class="p2">设置权重：<span>10</span>%</p>
									<p class="p4">每月最低要求200个</p>
								</div>
								<div class="da_an clearfix">
									<span class="span_dax active">是</span>
									<span class="span_dax">否</span>
								</div>
							</li>
							<li class="clearfix">
								<div class="bt clearfix">
									<p class="p1">
										<em>1</em>.
										<span>这个月新建客户是否有200个？</span>
									</p>
									<p class="p2">分值：<span>10</span></p>
									<p class="p2">设置权重：<span>10</span>%</p>
									<p class="p4">每月最低要求200个</p>
								</div>
								<div class="da_an clearfix">
									<span class="span_dax active">是</span>
									<span class="span_dax">否</span>
								</div>
							</li>
						</ul>
					</dd>
				</dl>
				<dl>
					<dt>多项选择题</dt>
					<dd>
						<ul class="dx_ul li_xiab clearfix">
							<li class="clearfix">
								<div class="bt clearfix">
									<p class="p1">
										<em>1</em>.
										<span>这个月新建客户有（       ）个？？</span>
									</p>
									<p class="p2">分值：<span>10</span></p>
									<p class="p2">设置权重：<span>10</span>%</p>
									<p class="p4">每月最低要求200个</p>
								</div>
								<div class="da_an clearfix">
									<span class="span_dux active">是</span>
									<span class="span_dux">否</span>
								</div>
							</li>
							<li class="clearfix">
								<div class="bt clearfix">
									<p class="p1">
										<em>1</em>.
										<span>这个月新建客户有（       ）个？？</span>
									</p>
									<p class="p2">分值：<span>10</span></p>
									<p class="p2">设置权重：<span>10</span>%</p>
									<p class="p4">每月最低要求200个</p>
								</div>
								<div class="da_an clearfix">
									<span class="span_dux active">是</span>
									<span class="span_dux">否</span>
								</div>
							</li>
						</ul>
					</dd>
				</dl>
				<dl>
					<dt>多行文本题</dt>
					<dd>
						<ul class="dx_ul li_xiab clearfix">
							<li class="clearfix">
								<div class="bt clearfix">
									<p class="p1">
										<em>1</em>.
										<span>
											你对王成小同事的印象如何？可以从以下几个方面进行评价 
											<br />1.办事效率 
											<br />2.工作态度
											<br />3.和同事之间的关系
										</span>
									</p>
									<p class="p2">分值：<span>10</span></p>
									<p class="p2">设置权重：<span>10</span>%</p>
								</div>
								<div class="da_an clearfix">
									<p class="dhwb_p">
										闪电发货的教科书费伙食费还开始打打开手机丰厚的萨克假发还是大客家话
									</p>
								</div>
							</li>
						</ul>
					</dd>
				</dl>
				<dl>
					<dt>填空题</dt>
					<dd>
						<ul class="dx_ul li_xiab clearfix">
							<li class="clearfix">
								<div class="bt clearfix">
									<p class="p1">
										<em>1</em>.
										<span>这个月新建客户是否有（   ）个？</span>
									</p>
									<p class="p2">分值：<span>10</span></p>
									<p class="p2">设置权重：<span>10</span>%</p>
								</div>
							</li>
						
						</ul>
					</dd>
				</dl>
				<dl>
					<dt>加分项：</dt>
					<dd>
						<textarea></textarea>
					</dd>
				</dl>
				<dl>
					<dt>留言板：</dt>
					<dd>
						<textarea></textarea>
					</dd>
				</dl>
				<dl>
					<dt>上传凭证：</dt>
					<dd>
						<div class="flie_div clearfix">
							<ol class="file_ol clearfix">
							</ol>
							<ul class="file_ul clearfix">
								<li>
									<input class="file_in" onchange="getphoto(this)" type="file">
								</li>
							</ul>
						</div>
					</dd>
				</dl>
			
				<div class="bottom clearfix">
					<button class="tj_btn clearfix" type="submit">提交<p class="ts_p">提交之后答案无法修改，请检查 好答案再提交！</p></button>
					
				</div>
			</div>
		</div>
		
		
	</body>
</html>
<script>
	//调取上传框
    function getphoto(node) {
    	if($(".file_ol>li").length<5){
    		if($(window).width()<=920){
    			$(".file_ul").css("margin-left",20+"px");
    		}
	        var imgURL = "";
	        try{
	            var file = null;
	            if(node.files && node.files[0] ){
	                file = node.files[0];
	            }else if(node.files && node.files.item(0)) {
	                file = node.files.item(0);
	            }
	            try{
	                imgURL =  file.getAsDataURL();
	            }catch(e){
	                imgRUL = window.URL.createObjectURL(file);
	            }
	        }catch(e){
	            if (node.files && node.files[0]) {
	                var reader = new FileReader();
	                reader.onload = function (e) {
	                    imgURL = e.target.result;
	                };
	                reader.readAsDataURL(node.files[0]);
	            }
	        }
	        var li_text = '<li><div class="close" onclick="det($(this))"></div><img onclick="big_img($(this))" src="'+imgRUL+'"/></li>'
	        var sw_text = '<div class="swiper-slide"><img src="'+imgRUL+'"/></div>'
	        $(".file_ol").append(li_text);
	    }
    }
    function big_img(obj){
    	$(".modal_img").fadeIn();
		$("body").css("overflow","hidden");
		$(".modal_img img").attr("src",obj.attr("src"));
    }
    function det(obj){
    	obj.parent().remove();
    }
</script>