<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="renderer" content="webkit">
		<title>考核结果</title>
		<link rel="stylesheet" type="text/css" href="css/common.css"/>
		<link rel="stylesheet" type="text/css" href="css/index.css"/>
		<script type="text/javascript" src="js/jquery.min.js" ></script>
		<script type="text/javascript" src="js/commons.js" ></script>
	</head>
	<body class="hei">
		
		<!--左边导航-->
		<div class="lf_nav">
			<div class="top">
				<a href="###">
					<img class="logo1" src="img/png/logo1.png"/>
					<img class="logo2" src="img/png/logo2.png"/>
				</a>
			</div>
			
			<ul class="lf_ul clearfix">
				<li class="active">
					<a href="###">
						<span>首页</span>
					</a>
				</li>
				<li>
					<a href="###">
						<span>考核待办</span>
					</a>
				</li>
				<li>
					<a href="###">
						<span>考核模板</span>
					</a>
				</li>
				<li>
					<a href="###">
						<span>目标管理</span>
					</a>
				</li>
				<li>
					<a href="###">
						<span>考核结果</span>
					</a>
				</li>
				<li>
					<a href="###">
						<span>团队管理</span>
					</a>
				</li>
				<li>
					<a href="###">
						<span>企业设置</span>
					</a>
				</li>
			</ul>
			
		</div>
		
		
		<!--上导航-->
		<div class="top_nav clearfix">
			<!--内容导航-->
			<div class="nav_con clearfix">
				<a class="nav_a" href="###">个人绩效</a>
				<a class="nav_a" href="###">团队绩效</a>
				<a class="nav_a active" href="###">所以成员绩效</a>
			</div>
			
			
			<!--个人中心、头像-->
			<div class="head_img">
				<a href="###">
					<span></span>
					<i>
						<img src="img/heda_img.jpg" alt="" />
					</i>
				</a>
			</div>
			
			<!--消息提醒-->
			<div class="message">
				<a href="###">
					<i class="active"></i>
				</a>
			</div>
			
			<!--搜索-->
			<div class="nav_search">
				<form>
					<input class="in_text" type="text"/>
					<input class="in_btn" type="submit" value=""/>
				</form>
			</div>
			
		</div>
		
		
		<!--右边主内容-->
		<div class="rftext_con khdb_text khjg_text clearfix">
			<div class="search">
				<form action="">
					<input class="in_sub" type="submit" value=""/>
					<input class="in_text" type="text" placeholder="搜索姓名、部门、职位" />
				</form>
			</div>
			<div class="time_xz clearfix">
				<div class="label ny_label time_start">
					<input class="in_text" type="text" placeholder="开始时间" />
					
					<div class="time_ny">
						<div class="top clearfix">
							<span class="sp sp_lf"></span>
							<input class="ny_in"  onkeyup="this.value=this.value.replace(/\D/g,'')" type="text" value="0000" />
							<span class="sp sp_rf"></span>
						</div>
						<div class="bot clearfix">
							<ul class="ul_ny clearfix">
							</ul>
						</div>
					</div>
				</div>
				<div class="label ny_label time_end">
					<input class="in_text" type="text" placeholder="结束时间" />
					
					<div class="time_ny">
						<div class="top clearfix">
							<span class="sp sp_lf"></span>
							<input class="ny_in"  onkeyup="this.value=this.value.replace(/\D/g,'')" type="text" value="0000" />
							<span class="sp sp_rf"></span>
						</div>
						<div class="bot clearfix">
							<ul class="ul_ny clearfix">
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="daoru clearfix">
				<span>导入数据</span>
			</div>
			<div class="daochu clearfix">
				<span>导出为Excel</span>
			</div>
			
			<div class="bot clearfix">
				<table border="" cellspacing="" cellpadding="">
					<tr>
						<th>序列</th>
						<th>头像</th>
						<th>姓名</th>
						<th>部门</th>
						<th>职位</th>
						<th class="px">考核时间</th>
						<th>评分</th>
						<th>操作</th>
					</tr>
					<tr>
						<td><span>1</span></td>
						<td><img src="img/grzx_02jpg.jpg"/></td>
						<td><span>王二小</span></td>
						<td><span>全力以赴</span></td>
						<td><span>初级业务员</span></td>
						<td><span>2018/11/23</span></td>
						<td><span>96</span></td>
						<td>
							<a class="pf_a" href="###">查看详情</a>
						</td>
					</tr>
					<tr>
						<td><span>1</span></td>
						<td><img src="img/grzx_02jpg.jpg"/></td>
						<td><span>王二小</span></td>
						<td><span>全力以赴</span></td>
						<td><span>初级业务员</span></td>
						<td><span>2018/11/23</span></td>
						<td><span>96</span></td>
						<td>
							<a class="pf_a" href="###">查看详情</a>
						</td>
					</tr>
					<tr>
						<td><span>1</span></td>
						<td><img src="img/grzx_02jpg.jpg"/></td>
						<td><span>王二小</span></td>
						<td><span>全力以赴</span></td>
						<td><span>初级业务员</span></td>
						<td><span>2018/11/23</span></td>
						<td><span>96</span></td>
						<td>
							<a class="pf_a" href="###">查看详情</a>
						</td>
					</tr>
					<tr>
						<td><span>1</span></td>
						<td><img src="img/grzx_02jpg.jpg"/></td>
						<td><span>王二小</span></td>
						<td><span>全力以赴</span></td>
						<td><span>初级业务员</span></td>
						<td><span>2018/11/23</span></td>
						<td><span>96</span></td>
						<td>
							<a class="pf_a" href="###">查看详情</a>
						</td>
					</tr>
					<tr>
						<td><span>1</span></td>
						<td><img src="img/grzx_02jpg.jpg"/></td>
						<td><span>王二小</span></td>
						<td><span>全力以赴</span></td>
						<td><span>初级业务员</span></td>
						<td><span>2018/11/23</span></td>
						<td><span>96</span></td>
						<td>
							<a class="pf_a" href="###">查看详情</a>
						</td>
					</tr>
					<tr>
						<td><span>1</span></td>
						<td><img src="img/grzx_02jpg.jpg"/></td>
						<td><span>王二小</span></td>
						<td><span>全力以赴</span></td>
						<td><span>初级业务员</span></td>
						<td><span>2018/11/23</span></td>
						<td><span>96</span></td>
						<td>
							<a class="pf_a" href="###">查看详情</a>
						</td>
					</tr>
					<tr>
						<td><span>1</span></td>
						<td><img src="img/grzx_02jpg.jpg"/></td>
						<td><span>王二小</span></td>
						<td><span>全力以赴</span></td>
						<td><span>初级业务员</span></td>
						<td><span>2018/11/23</span></td>
						<td><span>96</span></td>
						<td>
							<a class="pf_a" href="###">查看详情</a>
						</td>
					</tr>
				</table>
			</div>
			
		</div>
		
		
	</body>
</html>
