<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="renderer" content="webkit">
		<title>首页</title>
		<link rel="stylesheet" type="text/css" href="css/common.css"/>
		<link rel="stylesheet" type="text/css" href="css/index.css"/>
		<script type="text/javascript" src="js/jquery.min.js" ></script>
		<script type="text/javascript" src="js/commons.js" ></script>
	</head>
	<body class="hei">
		<div class="login">
			<div class="logo">
				<a href="###"><img src="img/png/logo3.png"/></a>
			</div>
			<h1>赫特·目标管理与绩效考核系统 </h1>
			
			<div class="login_f">
				<form action="">
					<label for="">
						<input class="name" type="text" placeholder="请输入账号" />
					</label>
					<label for="">
						<input class="pass" type="password" placeholder="请输入密码" />
					</label>
					<a class="forget" href="###">忘记密码？联系管理员重置</a>
					
					<input class="in_sub" type="submit" value="登录" />
				</form>
			</div>
			
		</div>
		
	</body>
</html>
<script>
	$(function(){
		$(".login").height($(window).height());
	})
</script>