<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="renderer" content="webkit">
		<title>设置团队目标</title>
		<link rel="stylesheet" type="text/css" href="css/common.css"/>
		<link rel="stylesheet" type="text/css" href="css/index.css"/>
		<script type="text/javascript" src="js/jquery.min.js" ></script>
		<script type="text/javascript" src="js/commons.js" ></script>
	</head>
	<body class="hei">
		
		<!--左边导航-->
		<div class="lf_nav">
			<div class="top">
				<a href="###">
					<img class="logo1" src="img/png/logo1.png"/>
					<img class="logo2" src="img/png/logo2.png"/>
				</a>
			</div>
			
			<ul class="lf_ul clearfix">
				<li class="active">
					<a href="###">
						<span>首页</span>
					</a>
				</li>
				<li>
					<a href="###">
						<span>考核待办</span>
					</a>
				</li>
				<li>
					<a href="###">
						<span>考核模板</span>
					</a>
				</li>
				<li>
					<a href="###">
						<span>目标管理</span>
					</a>
				</li>
				<li>
					<a href="###">
						<span>考核结果</span>
					</a>
				</li>
				<li>
					<a href="###">
						<span>团队管理</span>
					</a>
				</li>
				<li>
					<a href="###">
						<span>企业设置</span>
					</a>
				</li>
			</ul>
			
		</div>
		
		
		<!--上导航-->
		<div class="top_nav clearfix">
			<!--内容导航-->
			<div class="nav_con clearfix">
				<a class="nav_a active" href="###">创建目标</a>
				<a class="nav_a" href="###">进行中</a>
			</div>
			
			
			<!--个人中心、头像-->
			<div class="head_img">
				<a href="###">
					<span></span>
					<i>
						<img src="img/heda_img.jpg" alt="" />
					</i>
				</a>
			</div>
			
			<!--消息提醒-->
			<div class="message">
				<a href="###">
					<i class="active"></i>
				</a>
			</div>
			
			<!--搜索-->
			<div class="nav_search">
				<form>
					<input class="in_text" type="text"/>
					<input class="in_btn" type="submit" value=""/>
				</form>
			</div>
			
		</div>
		
		
		<!--右边主内容-->
		<div class="rftext_con mbgl_text clearfix">
			<div class="szmb_text clearfix">
				<h1>设置团队目标</h1>
				<form action="">
					<div class="form_div clearfix">
						<div class="top clearfix">
							<label for="">
								<span>选择部门<i class="hs">*</i></span>
								<div class="select_down clearfix" style="overflow: hidden; height: 42px;">
									<button class="select_btn" type="button">赫特财务部</button>
								</div>
							</label>
							<label for="">
								<span>选择时间<i class="hs">*</i></span>
								<div class="label ny_label">
									<input class="in_text" type="text" placeholder="2018-11" />
									<div class="time_ny">
										<div class="top clearfix">
											<span class="sp sp_lf"></span>
											<input class="ny_in"  onkeyup="this.value=this.value.replace(/\D/g,'')" type="text" value="0000" />
											<span class="sp sp_rf"></span>
										</div>
										<div class="bot clearfix">
											<ul class="ul_ny clearfix">
											</ul>
										</div>
									</div>
								</div>
							</label>
						</div>
						<hr />
						
						<div class="bot clearfix">
							<ul class="sjhmb_ul li_xiab clearfix">
								<li class="clearfix">
									<p class="p1">数据化目标（<em>1</em>）</p>
									<label for="">
										<span>目标名称<i class="hs">*</i></span>
										<p class="p100" contenteditable="true">团队销售业绩</p>
									</label>
									<label for="">
										<span>目标<i class="hs">*</i></span>
										<p contenteditable="true">团队销售业绩</p>
									</label>
								</li>
								<button class="add_mb" data-btn="1" type="button">+增加数据化目标</button>
								<hr />
							</ul>
							<ul class="zxxmb_ul li_xiab clearfix">
								<li class="clearfix">
									<p class="p1">指向性目标（<em>1</em>）</p>
									<label for="">
										<span>目标内容<i class="hs">*</i></span>
										<p class="p100" contenteditable="true">团队销售业绩</p>
									</label>
								</li>
								<button class="add_mb" data-btn="2" type="button">+增加指向性目标</button>
								<hr />
							</ul>
						</div>
						<div class="bottom clearfix">
							<button class="qd_btn clearfix" type="submit">确定</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		
		
	</body>
</html>
<script>
	$(function(){
		$(".add_mb").click(function(){
			const t_btn =parseInt($(this).attr("data-btn"));
			if(t_btn==1){
				const li_text = '<li class="clearfix">'+
									'<hr />'+
									'<p class="p1">数据化目标（<em>1</em>）</p>'+
									'<label for="">'+
										'<span>目标名称<i class="hs">*</i></span>'+
										'<p class="p100" contenteditable="true"></p>'+
									'</label>'+
									'<label for="">'+
										'<span>目标<i class="hs">*</i></span>'+
										'<p contenteditable="true"></p>'+
									'</label>'+
								'</li>'
								$(this).before(li_text);
			}else{
				const li_text = '<li class="clearfix">'+
									'<hr />'+
									'<p class="p1">指向性目标（<em>1</em>）</p>'+
									'<label for="">'+
										'<span>目标内容<i class="hs">*</i></span>'+
										'<p class="p100" contenteditable="true"></p>'+
									'</label>'+
								'</li>'
								$(this).before(li_text);
			}
								
			
			fy_index();
		})
		
		//	调用员工下拉选择
		$(".select_down .select_ol>li").click(function(){
			const this_val = $(this).find("em").text();
			const texts = '<span class="bumen_sp">'+this_val+' <i class="del"></i></span>';
			$(".bumen_label").append(texts);
		})
		$(".select_down .select_ul>li").click(function(e){
			const texts = '<span class="bumen_sp">'+$(this).text()+' <i class="del"></i></span>';
			$(".bumen_label").append(texts);
			e.stopPropagation();
		})
		$(".bumen_label").delegate("i.del","click",function(){
			$(this).parent().remove();
		})
	})
	
	//列表序号排列
	function fy_index(){
		for (let i=0;i<$(".li_xiab").length;i++){
			for(let j=0;j<$(".li_xiab").eq(i).find(">li").length;j++){
				$(".li_xiab").eq(i).find(">li").eq(j).find("em").text(j+1);
			}
		}
	}
	
	    	
//	调用员工下拉选择
	select_down()
</script>