<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="renderer" content="webkit">
		<title>题型设置</title>
		<link rel="stylesheet" type="text/css" href="css/common.css"/>
		<link rel="stylesheet" type="text/css" href="css/index.css"/>
		<script type="text/javascript" src="js/jquery.min.js" ></script>
		<script type="text/javascript" src="js/commons.js" ></script>
	</head>
	<body class="hei">
		
		<!--左边导航-->
		<div class="lf_nav">
			<div class="top">
				<a href="###">
					<img class="logo1" src="img/png/logo1.png"/>
					<img class="logo2" src="img/png/logo2.png"/>
				</a>
			</div>
			
			<ul class="lf_ul clearfix">
				<li class="active">
					<a href="###">
						<span>首页</span>
					</a>
				</li>
				<li>
					<a href="###">
						<span>考核待办</span>
					</a>
				</li>
				<li>
					<a href="###">
						<span>考核模板</span>
					</a>
				</li>
				<li>
					<a href="###">
						<span>目标管理</span>
					</a>
				</li>
				<li>
					<a href="###">
						<span>考核结果</span>
					</a>
				</li>
				<li>
					<a href="###">
						<span>团队管理</span>
					</a>
				</li>
				<li>
					<a href="###">
						<span>企业设置</span>
					</a>
				</li>
			</ul>
			
		</div>
		
		
		<!--上导航-->
		<div class="top_nav clearfix">
			<!--内容导航-->
			<div class="nav_con clearfix">
				<a class="nav_a " href="###">模板管理</a>
				<a class="nav_a active" href="###">题型设置</a>
			</div>
			
			
			<!--个人中心、头像-->
			<div class="head_img">
				<a href="###">
					<span></span>
					<i>
						<img src="img/heda_img.jpg" alt="" />
					</i>
				</a>
			</div>
			
			<!--消息提醒-->
			<div class="message">
				<a href="###">
					<i class="active"></i>
				</a>
			</div>
			
			<!--搜索-->
			<div class="nav_search">
				<form>
					<input class="in_text" type="text"/>
					<input class="in_btn" type="submit" value=""/>
				</form>
			</div>
			
		</div>
		
		
		<!--左边内容导航-->
		<div class="lfnav_con clearfix">
			<ol class="con_ol clearfix">
				<li class="active">题目控件</li>
				<li>题目列表</li>
			</ol>
			<ul class="con_ul clearfix">
				<li class="active">
					<ul class="type_ul">
						<li><span>单选题</span></li>
						<li><span>多选题</span></li>
						<li><span>填空题</span></li>
						<li><span>多行文本题</span></li>
					</ul>
				</li>
				<li>
					<ul class="li_fy_ul li_xiab clearfix">
						<li>
							<span>第<em class="em_in1">1</em>页</span>
							<ol class="li_fy_ol li_xiab clearfix">
								<li><span class="danx"><em class="em_in2">1</em>.这个月新建客户是否有200个这个月新建客户是否有200个这个月新建客户是否有200个？</span></li>
								<li><span class="duox"><em class="em_in2">1</em>.这个月新建客户是否有200个？</span></li>
								<li><span class="tkt"><em class="em_in2">1</em>.这个月新建客户是否有200个？</span></li>
								<li><span class="dht"><em class="em_in2">1</em>.这个月新建客户是否有200个？</span></li>
								<li><span class="danx"><em class="em_in2">1</em>.这个月新建客户是否有200个？</span></li>
							</ol>
						</li>
						<li>
							<span>第<em class="em_in1">1</em>页</span>
							<ol class="li_fy_ol li_xiab clearfix">
								<li><span class="danx"><em class="em_in2">1</em>.这个月新建客户是否有200个？</span></li>
								<li><span class="duox"><em class="em_in2">1</em>.这个月新建客户是否有200个？</span></li>
								<li><span class="tkt"><em class="em_in2">1</em>.这个月新建客户是否有200个？</span></li>
								<li><span class="dht"><em class="em_in2">1</em>.这个月新建客户是否有200个？</span></li>
							</ol>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		
		<!--右边主内容-->
		<div class="rftext_con txsz_text clearfix">
			
			<!--分页导航-->
			<div class="fy_top">
				<div class="fy_lf clearfix">
					<button class="lf_btn"></button>
					<div class="fy_div clearfix">
						<ul class="fy_ul li_xiab clearfix">
							<li class="active"><a href="###">第<em>1</em>页</a> <i class="del_i"></i></li>
						</ul>
					</div>
					<button class="rf_btn"></button>
					<button class="add_btn"></button>
				</div>
				
				<div class="fy_rf clearfix">
					<a href="###">预览</a>
				</div>
			</div>
			
			<!--编辑题目的窗口-->
			<div class="edit_div"></div>
			<!--创建的题目-->
			<div class="kaoshi_div"></div>
		</div>
		
		<!--批量修改弹窗-->
		<div class="plxg_modal clearfix">
			<div class="text clearfix">
				<h1>批量修改</h1>
				<div class="close"></div>
				<div class="text_p clearfix">
				</div>
				<button class="qd_btn clearfix">确定</button>
			</div>
		</div>
		
		<!--单选题模板-->
		<script type="text/html" id="ks_danx">
			<div class="danxuan cs_tm clearfix">
				<div class="timu clearfix">
					<span class="index_span"><em></em>.</span>					
					<p class="timu_p">[ks_danx_arr0]</p>
					<p class="beizhu_p">[ks_danx_arr1]</p>
					<div class="tips_tm">
						<p class="tmfz_p">分值：<em>0</em></p>
						<p class="tmqz_p">权重：<em>0</em>%</p>
					</div>
				</div>
				<div class="radio clearfix">
				</div>	
				<div class="tm_modal clearfix">
					<div class="text4" style="opacity: 0;"></div>
					<div class="text5" style="opacity: 0;"></div>
					<div class="text6" style="opacity: 0;"></div>
					<div class="rf_cz clearfix">
						<ul>
							<li onclick="tm_edit($(this))"></li>
							<li onclick="tm_copy($(this))"></li>
							<li onclick="tm_del($(this))"></li>
						</ul>
					</div>
				</div>
			</div>
		</script>
		<!--多选题模板-->
		<script type="text/html" id="ks_duox">
			<div class="duoxuan cs_tm clearfix">
				<div class="timu clearfix">
					<span class="index_span"><em></em>.</span>					
					<p class="timu_p">[ks_danx_arr0]</p>
					<p class="beizhu_p">[ks_danx_arr1]</p>
					<div class="tips_tm">
						<p class="tmfz_p">分值：<em>0</em></p>
						<p class="tmqz_p">权重：<em>0</em>%</p>
					</div>
				</div>
				<div class="radio clearfix">
				</div>	
				<div class="tm_modal clearfix">
					<div class="text4" style="opacity: 0;"></div>
					<div class="text5" style="opacity: 0;"></div>
					<div class="text6" style="opacity: 0;"></div>
					<div class="text9" style="opacity: 0;"></div>
					<div class="rf_cz clearfix">
						<ul>
							<li onclick="tm_edit_duox($(this))"></li>
							<li onclick="tm_copy($(this))"></li>
							<li onclick="tm_del($(this))"></li>
						</ul>
					</div>
				</div>
			</div>
		</script>
		<!--填空题模板-->
		<script type="text/html" id="ks_tk">
			<div class="tiankong cs_tm clearfix">
				<div class="timu clearfix">
					<span class="index_span"><em></em>.</span>					
					<p class="timu_p">[ks_danx_arr0]</p>
					<p class="beizhu_p">[ks_danx_arr1]</p>
					<div class="tips_tm">
						<p class="tmfz_p">分值：<em>0</em></p>
						<p class="tmqz_p">权重：<em>0</em>%</p>
					</div>
				</div>
				<div class="tm_modal clearfix">
					<div class="text4" style="opacity: 0;"></div>
					<div class="text5" style="opacity: 0;"></div>
					<div class="text6" style="opacity: 0;"></div>
					<div class="rf_cz clearfix">
						<ul>
							<li onclick="tm_edit_tk($(this))"></li>
							<li onclick="tm_copy($(this))"></li>
							<li onclick="tm_del($(this))"></li>
						</ul>
					</div>
				</div>
			</div>
		</script>
		<!--多行文本题模板-->
		<script type="text/html" id="ks_duohang">
			<div class="duohang cs_tm clearfix">
				<div class="timu clearfix">
					<span class="index_span"><em></em>.</span>					
					<pre><p class="timu_p">[ks_danx_arr0]</p></pre>
					<p class="beizhu_p">[ks_danx_arr1]</p>
					<div class="tips_tm">
						<p class="tmfz_p">分值：<em>0</em></p>
						<p class="tmqz_p">权重：<em>0</em>%</p>
					</div>
					<textarea class="outtext_p"></textarea>
				</div>
				<div class="tm_modal clearfix">
					<div class="text4" style="opacity: 0;"></div>
					<div class="text5" style="opacity: 0;"></div>
					<div class="text6" style="opacity: 0;"></div>
					<div class="rf_cz clearfix">
						<ul>
							<li onclick="tm_edit_dh($(this))"></li>
							<li onclick="tm_copy($(this))"></li>
							<li onclick="tm_del($(this))"></li>
						</ul>
					</div>
				</div>
			</div>
		</script>
		
		<!--单选题编辑模板-->
		<script type="text/html" id="mb_danx">
			<div class="edit_con danxuan clearfix">
				<div class="top_con clearfix">
					<dl class="edit_tm tm_dl clearfix">
						<dt>題目</dt>
						<dd class="tm_text" contenteditable="true">[arr_edit0]</dd>
					</dl>
					<dl class="tm_dl clearfix">
						<dt>备注</dt>
						<dd class="bz_text" contenteditable="true">[arr_edit1]</dd>
					</dl>
					<span class="type_span">单选题</span>
				</div>
				<div class="bot_con clearfix">
					<ul class="xuanx_ul">
						<span class="zqda_span">正确答案</span>
					</ul>
					<button class="add_li clearfix" onclick="add_xuanxiang($(this))">新建选项</button>
					<button class="plxg_btn clearfix">批量修改</button>
				</div>
				<div class="tm_fenzhi clearfix">
					<label>
						<span>题目分值</span>
						<input type="text" class="tm_fz" onkeyup="in_keyup(this)"  value="" />
					</label>
					<label>
						<span>设置权重</span>
						<input type="text" class="tm_qz" onkeyup="in_keyup(this)"  value=""/>
						<p>%</p>
					</label>
					<label>
						<span>计分方式</span>
						<select class="pffs_sl" name="">
							<option value="0">全部答对才可得分</option>
							<option value="1">部分答对即可得分</option>
						</select>
					</label>
				</div>
				<div class="bottom clearfix">
					<div class="check clearfix">
						<span class="pinfen">评分</span>
						<label for="">
							<i></i>
							<span>本人</span>
						</label>
						<label for="">
							<i></i>
							<span>主管</span>
						</label>
						<label for="">
							<i></i>
							<span>管理员</span>
						</label>
					</div>
					<select class="muban_sl" name="">
						<option value="" muban='0'>请选择模板</option>
					</select>
					<button class="edit_qdbtn" type="button">确定</button>
					<button class="edit_qxbtn" type="reset">取消</button>
				</div>
			</div>
		</script>
		<!--多行文本题编辑模板-->
		<script type="text/html" id="mb_duohang">
			<div class="edit_con duohang clearfix">
				<div class="top_con clearfix">
					<dl class="edit_tm tm_dl clearfix">
						<dt>題目</dt>
						<textarea  class="tm_text">[arr_edit0]</textarea>
					</dl>
					<dl class="tm_dl clearfix">
						<dt>备注</dt>
						<dd class="bz_text" contenteditable="true">[arr_edit1]</dd>
					</dl>
					<span class="type_span">多行文本题</span>
				</div>
				<div class="tm_fenzhi clearfix">
					<label>
						<span>题目分值</span>
						<input type="text" class="tm_fz" onkeyup="in_keyup(this)"  value="" />
					</label>
					<label>
						<span>设置权重</span>
						<input type="text" class="tm_qz" onkeyup="in_keyup(this)"  value=""/>
						<p>%</p>
					</label>
				</div>
				<div class="bottom clearfix">
					<div class="check clearfix">
						<span class="pinfen">评分</span>
						<label for="">
							<i></i>
							<span>本人</span>
						</label>
						<label for="">
							<i></i>
							<span>主管</span>
						</label>
						<label for="">
							<i></i>
							<span>管理员</span>
						</label>
					</div>
					<select class="muban_sl" name="">
						<option value="" muban='0'>请选择模板</option>
					</select>
					<button class="edit_qdbtn" type="button">确定</button>
					<button class="edit_qxbtn" type="reset">取消</button>
				</div>
			</div>
		</script>
	</body>
</html>
<script>
	const arr_muban = ["模板一","模板二","模板三","模板四","模板五"];
	$(function(){
		function js_resize(){
			//左边内容导航
			$(".lfnav_con").height($(window).height()-148);
			$(".con_ul>li").height($(".lfnav_con").height()-60);
			//头部内容分页
			const li_len = $(".fy_ul>li").length;
			let li_w = $(".fy_ul>li").width();
			if(li_w<=100){
				li_w=100;
			}else{
				return;
			}
			$(".fy_ul").width(li_w*li_len);
		}
		js_resize();
		$(window).resize(function(){
			js_resize();
		})
		
		$(".con_ol>li").click(function(){
			
			$(this).addClass("active");
			$(".con_ul>li").eq($(this).index()).addClass("active").siblings("li").removeClass("active");
		})
		
		
		
		//导航右移
		var off = 0;
		$(".rf_btn").click(function(){
			if(off==0){
				const fy_div_w = $(".fy_div").width();
				const ul_mrf =parseInt($(".fy_ul").css("margin-left"));
				const ul = $(".fy_ul").width();
				if(ul+ul_mrf>fy_div_w){
					const mrf_i = ul+ul_mrf-fy_div_w;
					off=1;
					if(mrf_i>=100){
						$(".fy_ul").animate({marginLeft:ul_mrf-100+"px"},function(){
							return off=0;
						});
					}else{
						$(".fy_ul").animate({marginLeft:ul_mrf-mrf_i+"px"},function(){
							return off=0;
						});
					}
				}
			}else{
				return ;
			}
		})
		//导航左移
		$(".lf_btn").click(function(){
			if(off==0){
				const fy_div_w = $(".fy_div").width();
				const ul_mrf =parseInt($(".fy_ul").css("margin-left"));
				const ul = $(".fy_ul").width();
				console.log(ul_mrf)
				if(ul_mrf<0){
					off=1;
					if(ul_mrf>-100){
						$(".fy_ul").animate({marginLeft:0+"px"},function(){
							return off=0;
						});
					}else{
						$(".fy_ul").animate({marginLeft:ul_mrf+100+"px"},function(){
							return off=0;
						});
					}
				}
			}else{
				return ;
			}
		})
		//新增导航li
		$(".add_btn").click(function(){
			const li_len =parseInt($(".fy_ul>li").length)+1;
			const li_text = '<li><a href="###">第<em>'+li_len+'</em>页</a><i class="del_i"></i></li>'
			$(".fy_ul").append(li_text);
			js_resize();
		})
		//删除分页
		$(".fy_div").delegate('.del_i','click',function(){
			$(this).parents("li").remove();
			js_resize();
			fy_index();
		})
		
		//列表序号排列
		function fy_index(){
			for (let i=0;i<$(".li_xiab").length;i++){
				for(let j=0;j<$(".li_xiab").eq(i).find(">li").length;j++){
					$(".li_xiab").eq(i).find(">li").eq(j).find("em").text(j+1);
				}
			}
		}
		fy_index();
		
		//编辑题目窗口确定按钮事件
		$(".rftext_con").delegate('.edit_qdbtn','click',function(){
			var ks_danx_arr = [];
			const this_par = $(this).parents(".edit_con");
			const val_1 = this_par.find(".tm_text").text();
			const val_2 = this_par.find(".bz_text").text();
			const val_3 = [];
			this_par.find(".xuanx_ul>li").each(function(){
				val_3.push($(this).find(".xx_text").text()) 
			})
			const val_4 = [];
			this_par.find(".check>label").each(function(){
				val_4.push($(this).attr("check")) 
			})
			const val_5 = this_par.find(".muban_sl").find("option:selected").attr("muban");
			const val_6 = [];
			this_par.find(".checks>label").each(function(){
				val_6.push($(this).attr("check")) 
			})
			const val_7 = this_par.find(".tm_fz").val();
			const val_8 = this_par.find(".tm_qz").val();
			const val_9 = this_par.find(".pffs_sl").find("option:selected").attr("value");
			ks_danx_arr.push(val_1,val_2,val_3,val_4,arr_muban,val_5,val_6,val_7,val_8,val_9);
			
			if($(this).attr("event")==6){//多行文本题默认编辑窗口确定事件
				ks_danx_arr[0]=this_par.find(".tm_text").val();
				if((ks_danx_arr[0]!='') && (val_5!=0) && (val_4.join('') != "000")){
					duohang_text(ks_danx_arr);
				}else{
					return;
				}
				
			}else if($(this).attr("event")==7){//多行文本题编辑窗口事件
				ks_danx_arr[0]=this_par.find(".tm_text").val();
				if((ks_danx_arr[0]!='') && (val_5!=0) && (val_4.join('') != "000")){
					duohang_text(ks_danx_arr);
					this_par.parent().find(".cs_tm:last-child").remove();
					this_par.prev(".cs_tm").html(cstm_html);
					this_par.prev(".cs_tm").show();
					this_par.remove();
					tm_number();
				}else{
					return;
				}
				
			}
			
			if((ks_danx_arr[0]!='') && (val_5!=0) && (val_4.join('') != "000")){
				//默认题目编辑窗口
				if($(this).attr("event")==0){//单选题默认编辑窗口确定事件
					danxuan_text(ks_danx_arr);
				}else if($(this).attr("event")==1){//单选题修改编辑事件
					danxuan_text(ks_danx_arr);
					this_par.parent().find(".cs_tm:last-child").remove();
					this_par.prev(".cs_tm").html(cstm_html);
					this_par.prev(".cs_tm").show();
				}else if($(this).attr("event")==2){//多选题默认编辑窗口确定事件
					duoxuan_text(ks_danx_arr);
				}else if($(this).attr("event")==3){//多选题修改编辑事件
					duoxuan_text(ks_danx_arr);
					this_par.parent().find(".cs_tm:last-child").remove();
					this_par.prev(".cs_tm").html(cstm_html);
					this_par.prev(".cs_tm").show();
				}else if($(this).attr("event")==4){//填空题默认编辑窗口确定事件
					const reg = /[\(]/g,reg2 = /[\)]/g;
					ks_danx_arr[0] = ks_danx_arr[0].replace(reg,"（").replace(reg2,"）");
					ks_danx_arr[0] = ks_danx_arr[0].replace(/（）/g, '（<span class="kh_span" contenteditable="true" ></span>）');
					tiankong_text(ks_danx_arr);
				}else if($(this).attr("event")==5){//填空题修改编辑事件
					const reg = /[\(]/g,reg2 = /[\)]/g;
					ks_danx_arr[0] = ks_danx_arr[0].replace(reg,"（").replace(reg2,"）");
					ks_danx_arr[0] = ks_danx_arr[0].replace(/（）/g, '（<span class="kh_span" contenteditable="true" ></span>）');
					tiankong_text(ks_danx_arr);
					this_par.parent().find(".cs_tm:last-child").remove();
					this_par.prev(".cs_tm").html(cstm_html);
					this_par.prev(".cs_tm").show();
				}
				this_par.remove();
				tm_number();
			}else{
				return ;
			}
			
			
			
		})
		//编辑题目窗口取消按钮事件
		$(".rftext_con").delegate('.edit_qxbtn','click',function(){
			if($(this).attr("event")==0){
				//默认题目编辑窗口
				$(this).parents(".edit_con").remove();
			}else{
				//已经创建的题目编辑窗口的取消按钮事件
				//$(this).attr("event")==1
				$(this).parents(".edit_con").prev(".cs_tm").show();
				$(this).parents(".edit_con").remove();
				
			}
		})
		//编辑题目窗口设定评分人
		$(".rftext_con").delegate('.check>label','click',function(){
			if($(this).hasClass("active")){
				$(this).removeClass("active");
				$(this).attr("check",0);
			}else{
				$(this).addClass("active");
				$(this).attr("check",1);
			}
		})
		
		
		//批量修改选项
		var this_ = '';
		var xg_html='';
		$(".rftext_con").delegate('.plxg_btn ','click',function(){
			$(".plxg_modal").fadeIn();
			$("body").css("overflow",'hidden');
			const this_par = $(this).parents(".edit_con");
			this_par.find(".xuanx_ul>li").each(function(){
				const text_p = '<p contenteditable="true">'+$(this).find(".xx_text").text()+'</p>' ;
				$(".plxg_modal .text_p").append(text_p);
			})
			return this_ = this_par;
			return xg_html = this_par.find(".xuanx_ul").html();
		})
		//取消批量修改
		$(".plxg_modal").delegate('.close','click',function(){
			$(this).parents(".plxg_modal").fadeOut();
			$("body").css("overflow",'');
			$(this).parents(".plxg_modal").find(".text_p").html('');  
		})
		//确定批量修改
		$(".plxg_modal").delegate('.qd_btn ','click',function(){
			const this_par = $(this).parents(".plxg_modal");
			this_par.fadeOut();
			$("body").css("overflow",'');
			let p_i=0;
			this_par.find(".text_p>p").each(function(){
				this_.find(".xuanx_ul>li").eq(p_i).find("p").text($(this).text());
				p_i++;
			})
			this_par.find(".text_p").html('');  
		})
		
		//正确答案选择
		$(".rftext_con").delegate('.checks','click',function(){
			const this_par = $(this).parents(".edit_con");
			let off = this_par.find(".edit_qdbtn").attr("event");
			if(off==0 || off==1 ){
				this_par.find(".checks>label").removeClass("active");
				this_par.find(".checks>label").attr("check","0");
				$(this).find("label").addClass("active");
				$(this).find("label").attr("check","1");
			}else if(off==2 || off==3){
				if($(this).find("label").hasClass("active")){
					$(this).find("label").removeClass("active");
					$(this).find("label").attr("check","0");
				}else{
					$(this).find("label").addClass("active");
					$(this).find("label").attr("check","1");
				}
			}
			
		})
	})
	
	//	默认单选题目编辑窗口
	let text1 = "",text2 = "",text7 = "",text8 = "",text9=0;
	let arr_xx = ['选项','选项'],
		arr_pf =['1','0','0'],
		arr_xx_da = [],
		mb_active = 0;
		arr_edit = [text1,text2,arr_xx,arr_pf,arr_muban,mb_active,arr_xx_da,text7,text8,text9];
		
	var edit_tm_html = '';
	function df_eidt_tm(arr_edit,ev_num){
		const reg = new RegExp("\\[([^\\[\\]]*?)\\]", 'igm'); 
		const mb_danx_html = document.getElementById("mb_danx").innerHTML;
		const source = mb_danx_html.replace(reg, function(node, key) {  
	        return {  
	            'arr_edit0' : arr_edit[0], 
	            'arr_edit1' : arr_edit[1]
	        }[key];  
	    });
		$(".edit_div").append(source);
		$.each(arr_edit[2], function(){   
		 	const li_text  = 
		 				' <li>'+
							'<p class="xx_text" contenteditable="true">'+this+'</p>'+
							'<i onclick="xx_del($(this))" class="del"></i>'+
							'<div class="checks clearfix">'+
								'<label check="0">'+
									'<i></i>'+
								'</label>'+
							'</div>'+
						'</li>  '
			$(".edit_con .xuanx_ul").append(li_text);			
		});
		for(var i=0; i<arr_edit[3].length;i++){
			if(arr_edit[3][i]=="1"){
				$(".edit_con .check label").eq(i).addClass("active");
				$(".edit_con .check label").eq(i).attr("check",1);
			}else{
				$(".edit_con .check label").eq(i).removeClass("active");
				$(".edit_con .check label").eq(i).attr("check",0);
			}
		}
		let muban_i=0;
		$.each(arr_edit[4], function(){ 
			muban_i++;
			if(arr_edit[5] == muban_i.toString()){
				const li_text  = '<option value="" selected="true" muban="'+ muban_i +'">'+this+'</option>';
				$(".edit_con .muban_sl").append(li_text);	
			}else{
				const li_text  = '<option value="" muban="'+ muban_i +'">'+this+'</option>';
				$(".edit_con .muban_sl").append(li_text);	
			}
		});
		for(var i=0; i<arr_edit[6].length;i++){
			if(arr_edit[6][i]=="1"){
				$(".edit_con .xuanx_ul>li").eq(i).find(".checks>label").addClass("active");
				$(".edit_con .xuanx_ul>li").eq(i).find(".checks>label").attr("check",1);
			}else{
				$(".edit_con .xuanx_ul>li").eq(i).find(".checks>label").removeClass("active");
				$(".edit_con .xuanx_ul>li").eq(i).find(".checks>label").attr("check",0);
			}
		}
		$(".edit_con .tm_fz").attr("value",arr_edit[7]);
		$(".edit_con .tm_qz").attr("value",arr_edit[8]);
		$(".edit_con .pffs_sl>option").eq(arr_edit[9]).attr("selected",true);
		$(".edit_con .bottom button").attr("event",ev_num);
		if(ev_num==3){
			$(".edit_con .type_span").text("多选题");
		}
		
		//返回一个变量  保存题目编辑窗口
		return edit_tm_html = $(".edit_div").html();
	}
	
	//	默认多行文本题目编辑窗口
	function duohang_eidt_tm(arr_edit,ev_num){
		const reg = new RegExp("\\[([^\\[\\]]*?)\\]", 'igm'); 
		const mb_duohang_html = document.getElementById("mb_duohang").innerHTML;
		const source = mb_duohang_html.replace(reg, function(node, key) {  
	        return {  
	            'arr_edit0' : arr_edit[0], 
	            'arr_edit1' : arr_edit[1]
	        }[key];  
	    });
		$(".edit_div").append(source);
		for(var i=0; i<arr_edit[3].length;i++){
			if(arr_edit[3][i]=="1"){
				$(".edit_con .check label").eq(i).addClass("active");
				$(".edit_con .check label").eq(i).attr("check",1);
			}else{
				$(".edit_con .check label").eq(i).removeClass("active");
				$(".edit_con .check label").eq(i).attr("check",0);
			}
		}
		let muban_i=0;
		$.each(arr_edit[4], function(){ 
			muban_i++;
			if(arr_edit[5] == muban_i.toString()){
				const li_text  = '<option value="" selected="true" muban="'+ muban_i +'">'+this+'</option>';
				$(".edit_con .muban_sl").append(li_text);	
			}else{
				const li_text  = '<option value="" muban="'+ muban_i +'">'+this+'</option>';
				$(".edit_con .muban_sl").append(li_text);	
			}
		});
		$(".edit_con .tm_fz").attr("value",arr_edit[7]);
		$(".edit_con .tm_qz").attr("value",arr_edit[8]);
		$(".edit_con .bottom button").attr("event",ev_num);
		//返回一个变量  保存题目编辑窗口
		return edit_tm_html = $(".edit_div").html();
	}
	
	//创建单选选项
	function add_xuanxiang(obj){
		const li_text = '<li>'+
						'<p class="xx_text" contenteditable="true"></p>'+
						'<i onclick="xx_del($(this))" class="del"></i>'+
						'<div class="checks clearfix">'+
							'<label for="" check="0">'+
								'<i></i>'+
							'</label>'+
						'</div>'+
					'</li>'
		obj.siblings("ul").append(li_text);
	}
	//删除单选选项
	function xx_del(obj){
		obj.parent().remove();
	}
		
	//单选题内容
	var cstm_html = '';
	function danxuan_text(ks_danx_arr){
		const reg = new RegExp("\\[([^\\[\\]]*?)\\]", 'igm'); 
		const ks_danx_html = document.getElementById("ks_danx").innerHTML;
		const source = ks_danx_html.replace(reg, function(node, key) {  
	        return {  
	            'ks_danx_arr0' : ks_danx_arr[0], 
	            'ks_danx_arr1' : ks_danx_arr[1]
	        }[key];  
	    });
		$(".kaoshi_div").append(source);
		$.each(ks_danx_arr[2], function(){   
		 	const li_text  = 
		 				'<label class="clearfix" for="">'+
							'<input class="in_dx" type="radio" name="dx" />'+
							'<p>'+this+'</p>'+
						'</label>';
			$(".danxuan.cs_tm:last-child .radio").append(li_text);			
		});
		$(".danxuan.cs_tm:last-child .tm_modal .text4").text(ks_danx_arr[3]);	
		$(".danxuan.cs_tm:last-child .tm_modal .text5").text(ks_danx_arr[5]);
		$(".danxuan.cs_tm:last-child .tm_modal .text6").text(ks_danx_arr[6]);
		$(".danxuan.cs_tm:last-child .tmfz_p em").text(ks_danx_arr[7]);	
		$(".danxuan.cs_tm:last-child .tmqz_p em").text(ks_danx_arr[8]);
		tm_number();
		return cstm_html = $(".kaoshi_div .cs_tm:last-child").html();
	}
	//多选题内容
//	var cstm_html = '';
	function duoxuan_text(ks_danx_arr){
		const reg = new RegExp("\\[([^\\[\\]]*?)\\]", 'igm'); 
		const ks_duox_html = document.getElementById("ks_duox").innerHTML;
		const source = ks_duox_html.replace(reg, function(node, key) {  
	        return {  
	            'ks_danx_arr0' : ks_danx_arr[0], 
	            'ks_danx_arr1' : ks_danx_arr[1]
	        }[key];  
	    });
		$(".kaoshi_div").append(source);
		$.each(ks_danx_arr[2], function(){   
		 	const li_text  = 
		 				'<label class="clearfix" for="">'+
							'<i class="in_fx"></i>'+
							'<p>'+this+'</p>'+
						'</label>';
			$(".cs_tm:last-child .radio").append(li_text);			
		});
		$(".cs_tm:last-child .tm_modal .text4").text(ks_danx_arr[3]);	
		$(".cs_tm:last-child .tm_modal .text5").text(ks_danx_arr[5]);
		$(".cs_tm:last-child .tm_modal .text6").text(ks_danx_arr[6]);
		$(".cs_tm:last-child .tmfz_p em").text(ks_danx_arr[7]);	
		$(".cs_tm:last-child .tmqz_p em").text(ks_danx_arr[8]);
		$(".cs_tm:last-child .tm_modal .text9").text(ks_danx_arr[9]);
		tm_number();
		return cstm_html = $(".kaoshi_div .cs_tm:last-child").html();
	}
	//填空题内容
	function tiankong_text(ks_danx_arr){
		const reg = new RegExp("\\[([^\\[\\]]*?)\\]", 'igm'); 
		const ks_tk_html = document.getElementById("ks_tk").innerHTML;
		const source = ks_tk_html.replace(reg, function(node, key) {  
	        return {  
	            'ks_danx_arr0' : ks_danx_arr[0], 
	            'ks_danx_arr1' : ks_danx_arr[1]
	        }[key];  
	    });
		$(".kaoshi_div").append(source);
		$(".cs_tm:last-child .tm_modal .text4").text(ks_danx_arr[3]);	
		$(".cs_tm:last-child .tm_modal .text5").text(ks_danx_arr[5]);
		$(".cs_tm:last-child .tm_modal .text6").text(ks_danx_arr[6]);
		$(".cs_tm:last-child .tmfz_p em").text(ks_danx_arr[7]);	
		$(".cs_tm:last-child .tmqz_p em").text(ks_danx_arr[8]);
		tm_number();
		return cstm_html = $(".kaoshi_div .cs_tm:last-child").html();
	}
	//多行内容
	function duohang_text(ks_danx_arr){
		const reg = new RegExp("\\[([^\\[\\]]*?)\\]", 'igm'); 
		const ks_duohang_html = document.getElementById("ks_duohang").innerHTML;
		const source = ks_duohang_html.replace(reg, function(node, key) {  
	        return {  
	            'ks_danx_arr0' : ks_danx_arr[0], 
	            'ks_danx_arr1' : ks_danx_arr[1]
	        }[key];  
	    });
		$(".kaoshi_div").append(source);
		$(".cs_tm:last-child .tm_modal .text4").text(ks_danx_arr[3]);	
		$(".cs_tm:last-child .tm_modal .text5").text(ks_danx_arr[5]);
		$(".cs_tm:last-child .tm_modal .text6").text(ks_danx_arr[6]);
		$(".cs_tm:last-child .tmfz_p em").text(ks_danx_arr[7]);	
		$(".cs_tm:last-child .tmqz_p em").text(ks_danx_arr[8]);
		tm_number();
		return cstm_html = $(".kaoshi_div .cs_tm:last-child").html();
	}
	//题目序列号
	function tm_number(){
		var i=0;
		$(".cs_tm").each(function(){
			i++ ;
			$(this).find(".index_span em").text(i);
		})
	}
	//题目右边操作
	//	单选
	function tm_edit(obj){
		var ks_danx_arr = [];
		if($(".edit_con").length<1){ //在有编辑窗口存在的情况下不给编辑
			const this_par = obj.parents(".cs_tm");
			this_par.hide();
			const val_1 = this_par.find(".timu_p").text();
			const val_2 = this_par.find(".beizhu_p").text();
			const val_3 = [];
			this_par.find(".radio>label").each(function(){
				val_3.push($(this).find("p").text()) 
			})
			const val_4 = obj.parents(".cs_tm").find(".text4").text().split(',');
			const val_5 = obj.parents(".cs_tm").find(".text5").text();
			const val_6 = obj.parents(".cs_tm").find(".text6").text().split(',');
			const val_7 = this_par.find(".tmfz_p em").text();
			const val_8 = this_par.find(".tmqz_p em").text();
			ks_danx_arr.push(val_1,val_2,val_3,val_4,arr_muban,val_5,val_6,val_7,val_8);
			df_eidt_tm(ks_danx_arr,1);
			$(".edit_div .edit_con").remove();
			this_par.after(edit_tm_html);
			
		}else{
			return;
		}
	}
	//	多选
	function tm_edit_duox(obj){
		var ks_danx_arr = [];
		if($(".edit_con").length<1){ 
			const this_par = obj.parents(".cs_tm");
			this_par.hide();
			const val_1 = this_par.find(".timu_p").text();
			const val_2 = this_par.find(".beizhu_p").text();
			const val_3 = [];
			this_par.find(".radio>label").each(function(){
				val_3.push($(this).find("p").text()) 
			})
			const val_4 = this_par.find(".text4").text().split(',');
			const val_5 = this_par.find(".text5").text();
			const val_6 = this_par.find(".text6").text().split(',');
			const val_7 = this_par.find(".tmfz_p em").text();
			const val_8 = this_par.find(".tmqz_p em").text();
			const val_9 = this_par.find(".text9").text();
			ks_danx_arr.push(val_1,val_2,val_3,val_4,arr_muban,val_5,val_6,val_7,val_8,val_9);
			df_eidt_tm(ks_danx_arr,3);
			$(".edit_div .edit_con").remove();
			this_par.after(edit_tm_html);
			
		}else{
			return;
		}
	}
	//	填空
	function tm_edit_tk(obj){
		var ks_danx_arr = [];
		if($(".edit_con").length<1){ 
			const this_par = obj.parents(".cs_tm");
			this_par.hide();
			const val_1 = this_par.find(".timu_p").text();
			const val_2 = this_par.find(".beizhu_p").text();
			const val_3 = [];
			const val_4 = obj.parents(".cs_tm").find(".text4").text().split(',');
			const val_5 = obj.parents(".cs_tm").find(".text5").text();
			const val_6 = obj.parents(".cs_tm").find(".text6").text().split(',');
			const val_7 = this_par.find(".tmfz_p em").text();
			const val_8 = this_par.find(".tmqz_p em").text();
			ks_danx_arr.push(val_1,val_2,val_3,val_4,arr_muban,val_5,val_6,val_7,val_8);
			df_eidt_tm(ks_danx_arr,5);
			$(".edit_div .edit_con").remove();
			this_par.after(edit_tm_html);
			$(".edit_con .type_span").text("填空题");
			$(".edit_con .bot_con").hide();
		}else{
			return;
		}
	}
	//	多行
	function tm_edit_dh(obj){
		var ks_danx_arr = [];
		if($(".edit_con").length<1){ 
			const this_par = obj.parents(".cs_tm");
			this_par.hide();
			const val_1 = this_par.find("pre").text();
			const val_2 = this_par.find(".beizhu_p").text();
			const val_3 = [];
			const val_4 = obj.parents(".cs_tm").find(".text4").text().split(',');
			const val_5 = obj.parents(".cs_tm").find(".text5").text();
			const val_6 = obj.parents(".cs_tm").find(".text6").text().split(',');
			const val_7 = this_par.find(".tmfz_p em").text();
			const val_8 = this_par.find(".tmqz_p em").text();
			ks_danx_arr.push(val_1,val_2,val_3,val_4,arr_muban,val_5,val_6,val_7,val_8);
			duohang_eidt_tm(ks_danx_arr,7);
			$(".edit_div .edit_con").remove();
			this_par.after(edit_tm_html);
		}else{
			return;
		}
	}
	
	function tm_copy(obj){
		obj.parents(".cs_tm").after(obj.parents(".cs_tm").prop("outerHTML"));
		tm_number();	
	}
	function tm_del(obj){
		obj.parents(".cs_tm").remove();
		tm_number();	
	}
	
	//创建题型
	$(".type_ul>li").click(function(){
		let a = $(".edit_con").length;
		if($(".edit_con").length<1){
			if($(this).index()==0){
				df_eidt_tm(arr_edit,0);
				$(".edit_con .type_span").text($(this).find("span").text());
				$(".edit_con .tm_fenzhi>label:last-child").hide();
			}else if($(this).index()==1){
				df_eidt_tm(arr_edit,2);
				$(".edit_con .type_span").text($(this).find("span").text());
			}else if($(this).index()==2){
				df_eidt_tm(arr_edit,4);
				$(".edit_con .type_span").text($(this).find("span").text());
				$(".edit_con .bot_con").hide();
				$(".edit_con .tm_fenzhi>label:last-child").hide();
			}else{
				duohang_eidt_tm(arr_edit,6);
			}
		}else{
			return;
		}
	})
	
	//input 只能输入数字小数点
	function in_keyup(obj){
		var str = obj.value.replace(/[^0-9/.]/g,'');;
        var len1 = str.substr(0, 1);
        var len2 = str.substr(1, 1);
        //如果第一位是0，第二位不是点，就用数字把点替换掉
	      if (str.length > 1 && len1 == 0 && len2 != ".") {
	        str = str.substr(1, 1);
	      }
        //第一位不能是.
	      if (len1 == ".") {str = "";}
        //限制只能输入一个小数点
	      if (str.indexOf(".") != -1) {
	        var str_ = str.substr(str.indexOf(".") + 1);
	        if (str_.indexOf(".") != -1) {
	          str = str.substr(0, str.indexOf(".") + str_.indexOf(".") + 1);
	        }
	      }
	    //限制输入的数字小于100
	      if(str>100){str = str.substr(0,str.length-1);}
        //正则替换，保留数字和小数点
      	obj.value = str.replace(/[^\d^\.]+/g,'')
	}
</script>