<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="renderer" content="webkit">
		<title>消息中心</title>
		<link rel="stylesheet" type="text/css" href="css/common.css"/>
		<link rel="stylesheet" type="text/css" href="css/index.css"/>
		<script type="text/javascript" src="js/jquery.min.js" ></script>
		<script type="text/javascript" src="js/commons.js" ></script>
	</head>
	<body class="hei">
		
		<!--左边导航-->
		<div class="lf_nav">
			<div class="top">
				<a href="###">
					<img class="logo1" src="img/png/logo1.png"/>
					<img class="logo2" src="img/png/logo2.png"/>
				</a>
			</div>
			
			<ul class="lf_ul clearfix">
				<li class="active">
					<a href="###">
						<span>首页</span>
					</a>
				</li>
				<li>
					<a href="###">
						<span>考核待办</span>
					</a>
				</li>
				<li>
					<a href="###">
						<span>考核模板</span>
					</a>
				</li>
				<li>
					<a href="###">
						<span>目标管理</span>
					</a>
				</li>
				<li>
					<a href="###">
						<span>考核结果</span>
					</a>
				</li>
				<li>
					<a href="###">
						<span>团队管理</span>
					</a>
				</li>
				<li>
					<a href="###">
						<span>企业设置</span>
					</a>
				</li>
			</ul>
			
		</div>
		
		
		<!--上导航-->
		<div class="top_nav clearfix">
			<!--个人中心、头像-->
			<div class="head_img">
				<a href="###">
					<span></span>
					<i>
						<img src="img/heda_img.jpg" alt="" />
					</i>
				</a>
			</div>
			
			<!--消息提醒-->
			<div class="message">
				<a href="###">
					<i class="active"></i>
				</a>
			</div>
			
			<!--搜索-->
			<div class="nav_search">
				<form>
					<input class="in_text" type="text"/>
					<input class="in_btn" type="submit" value=""/>
				</form>
			</div>
			
		</div>
		
		
		<!--右边主内容-->
		<div class="r_content xxzx_text clearfix">
			<div class="bg_fff clearfix">
				<div class="top clearfix">
					<ol class="top_ol">
						<li><a href="###">全部通知</a></li>
						<li><a href="###">审批（<span>15</span>未读）</a></li>
						<li><a href="###">绩效（<span>12</span>未读）</a></li>
						<li><a href="###">公告</a></li>
					</ol>
					<button type="button" class="fagg_btn"><span>发起公告</span></button>
				</div>
				<div class="bot clearfix">
					<ul class="bot_ul clearfix">
						<li>
							<img class="xx_img" src="img/grzx_02jpg.jpg"/>
							<div class="text">
								<span class="sp_1">【审批】</span>
								<span class="sp_2">昨天 18:32</span>
								<p class="p1">王二小发起月度目标审核</p>
							</div>
							<a class="ckxq_a" href="###">查看详情</a>
						</li>
						<li>
							<img class="xx_img" src="img/grzx_02jpg.jpg"/>
							<div class="text">
								<span class="sp_1">【审核】</span>
								<span class="sp_2">昨天 18:32</span>
								<p class="p1">王二小发起月度目标审核</p>
							</div>
							<a class="ckxq_a" href="###">查看详情</a>
						</li>
						<li>
							<img class="xx_img" src="img/grzx_02jpg.jpg"/>
							<div class="text">
								<span class="sp_1">【绩效】</span>
								<span class="sp_2">昨天 18:32</span>
								<p class="p1">王二小发起月度目标审核</p>
							</div>
							<a class="ckxq_a" href="###">查看详情</a>
						</li>
						<li>
							<img class="xx_img" src="img/grzx_02jpg.jpg"/>
							<div class="text">
								<span class="sp_1">【审批】</span>
								<span class="sp_2">昨天 18:32</span>
								<p class="p1">王二小发起月度目标审核</p>
							</div>
							<a class="ckxq_a" href="###">查看详情</a>
						</li>
						<li>
							<img class="xx_img" src="img/grzx_02jpg.jpg"/>
							<div class="text">
								<span class="sp_1">【审批】</span>
								<span class="sp_2">昨天 18:32</span>
								<p class="p1">王二小发起月度目标审核</p>
							</div>
							<a class="ckxq_a" href="###">查看详情</a>
						</li>
						<li>
							<img class="xx_img" src="img/grzx_02jpg.jpg"/>
							<div class="text">
								<span class="sp_1">【审核】</span>
								<span class="sp_2">昨天 18:32</span>
								<p class="p1">王二小发起月度目标审核</p>
							</div>
							<a class="ckxq_a" href="###">查看详情</a>
						</li>
						<li>
							<img class="xx_img" src="img/grzx_02jpg.jpg"/>
							<div class="text">
								<span class="sp_1">【绩效】</span>
								<span class="sp_2">昨天 18:32</span>
								<p class="p1">王二小发起月度目标审核</p>
							</div>
							<a class="ckxq_a" href="###">查看详情</a>
						</li>
						<li>
							<img class="xx_img" src="img/grzx_02jpg.jpg"/>
							<div class="text">
								<span class="sp_1">【审批】</span>
								<span class="sp_2">昨天 18:32</span>
								<p class="p1">王二小发起月度目标审核</p>
							</div>
							<a class="ckxq_a" href="###">查看详情</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		
		<!--发起公告弹窗-->
		<div class="fqgg_midal modal clearfix">
			<div class="text clearfix">
				<div class="close"></div>
				<h1>发起公告</h1>
				<form>
					<label class="clearfix" for="">
						<span>公告内容：</span>
						<textarea></textarea>
					</label>
					<label class="clearfix" for="">
						<span>公告对象：</span>
						<div class="select_down clearfix">
							<button class="select_btn" type="button">选择成员</button>
							<!--<ol class="select_ol">
								<li><em>所有成员</em></li>
								<li>
									<em>全力以赴队</em>
									<ul class="select_ul">
										<li>赵浩宇</li>
										<li>章玲丽</li>
										<li>练金妍</li>
										<li>成明辉</li>
										<li>盘洁华</li>
										<li>姚永坚</li>
										<li>岑丽欣</li>
									</ul>
								</li>
								<li>
									<em>勇往直前队</em>
									<ul class="select_ul">
										<li>张永凤</li>
										<li>梁玉婵</li>
										<li>杜婉君</li>
										<li>邝美红</li>
										<li>伍蕾</li>
									</ul>
								</li>
								<li>
									<em>赫特财务部</em>
									<ul class="select_ul">
										<li>代黎黎</li>
										<li>彭瑞芸</li>
									</ul>
								</li>
								<li>
									<em>赫特技术部</em>
									<ul class="select_ul">
										<li>陈志超</li>
										<li>李想</li>
										<li>张培義</li>
										<li>刘碧辉</li>
										<li>陈丽珊</li>
										<li>苏立鹏</li>
									</ul>
								</li>
								<li>
									<em>赫特采购部</em>
									<ul class="select_ul">
										<li>程啦啦</li>
										<li>吴国栋</li>
									</ul>
								</li>
								<li>
									<em>赫特储运部</em>
									<ul class="select_ul">
										<li>陈成</li>
										<li>马洪照</li>
										<li>黄风弟</li>
										<li>陈嘉俊</li>
										<li>刘婉君</li>
										<li>萧晓清</li>
										<li>朱震勇</li>
									</ul>
								</li>
								<li>
									<em>naijabeauty</em>
									<ul class="select_ul">
										<li>贝楚玫</li>
										<li>张莹莹</li>
										<li>王俊星</li>
										<li>唐海静</li>
										<li>李鸿光</li>
										<li>胡程鹏</li>
									</ul>
								</li>
								<li>
									<em>总经理办公室</em>
									<ul class="select_ul">
										<li>李文丹</li>
										<li>董兰</li>
									</ul>
								</li>
								<li>
									<em>人事行政部</em>
									<ul class="select_ul">
										<li>张泽群</li>
										<li>丘祖金</li>
									</ul>
								</li>
							</ol>-->
						</div>
						
						<ul class="list clearfix clear">
						</ul>
					</label>
					
					<div class="btn clearfix">
						<button class="qx_btn" type="reset">取消</button>
						<button class="qd_btn" type="submit">确定</button>
					</div>
				</form>
			</div>
		</div>
		
		
	</body>
</html>
<script type="text/javascript" src="select2/js/select2.js" ></script>
<script>
	$(function(){
		//调用select插件
		$(".bumen_sl").select2({});
		
		$(".rf_text").height($(".lf_img").height());
		
		$(window).resize(function(){
			$(".rf_text").height($(".lf_img").height());
		})
		
//		权限设置单选
		$(".qx_ul>li").click(function(){
			$(".qx_ul>li .dx_span").removeClass("active");
			$(this).find(".dx_span").addClass("active");
		})
		
		//下拉选择部门
		$(".select_down .select_ol>li").click(function(){
			const this_val = $(this).find("em").text();
			const li_text = '<li>'+this_val+'<i class="del"></i></li>';
			let off = true;
			$(".list>li").each(function(){
				if($(this).text()==this_val){
					return off = false;
				}
			})
			if(off){
				$(".list").append(li_text);
			}
			$(".fqgg_midal .text .btn").removeClass("active");
			
		})
		$(".select_down .select_ul>li").click(function(e){
			const this_val = $(this).text();
			const li_text = '<li>'+this_val+'<i class="del"></i></li>';
			let off = true;
			$(".list>li").each(function(){
				if($(this).text()==this_val){
					return off = false;
				}
			})
			if(off){
				$(".list").append(li_text);
			}
			$(".fqgg_midal .text .btn").removeClass("active");
			e.stopPropagation();
		})
		$(".list").delegate("li>.del","click",function(){
			$(this).parent().remove();
		})
		
		
		//发起公告关闭公告
		$(".fagg_btn").click(function(){
			$(".fqgg_midal").fadeIn();
			$("body").css("overflow","hidden");
		})
		$(".fqgg_midal .close").click(function(){
			$(".fqgg_midal").fadeOut();
			$("body").css("overflow","");
		})
		
	})
	
    //调取上传框
    $(".file_in").change(function(){   
	 	var file = this.files[0];
	    if(window.FileReader){    
			var reader = new FileReader();    
			reader.readAsDataURL(file);    
			reader.onloadend = function (e) {
				$(".file_div .tx").attr("src",e.target.result);    
			};    
	    } 
	});
	
    	
//	调用员工下拉选择
	select_down()
</script>
