<!--右边主内容-->
		<div class="rftext_con khdb_text khjg_text clearfix">
			<div class="search">
				<form action="">
					<input class="in_sub" type="submit" value=""/>
					<input class="in_text" type="text" placeholder="搜索姓名、部门、职位" />
				</form>
			</div>
			<div class="time_xz clearfix">
				<div class="label ny_label time_start">
					<input class="in_text" type="text" placeholder="开始时间" />
					
					<div class="time_ny">
						<div class="top clearfix">
							<span class="sp sp_lf"></span>
							<input class="ny_in"  onkeyup="this.value=this.value.replace(/\D/g,'')" type="text" value="0000" />
							<span class="sp sp_rf"></span>
						</div>
						<div class="bot clearfix">
							<ul class="ul_ny clearfix">
							</ul>
						</div>
					</div>
				</div>
				<div class="label ny_label time_end">
					<input class="in_text" type="text" placeholder="结束时间" />
					
					<div class="time_ny">
						<div class="top clearfix">
							<span class="sp sp_lf"></span>
							<input class="ny_in"  onkeyup="this.value=this.value.replace(/\D/g,'')" type="text" value="0000" />
							<span class="sp sp_rf"></span>
						</div>
						<div class="bot clearfix">
							<ul class="ul_ny clearfix">
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="daoru clearfix">
				<span>导入数据</span>
			</div>
			<div class="daochu clearfix">
				<span>导出为Excel</span>
			</div>
			
			<div class="bot clearfix">
				<table border="" cellspacing="" cellpadding="">
					<tr>
						<th>序列</th>
						<th>头像</th>
						<th>姓名</th>
						<th>部门</th>
						<th>职位</th>
						<th class="px">考核时间</th>
						<th>评分</th>
						<th>操作</th>
					</tr>
					<tr>
						<td><span>1</span></td>
						<td><img src="img/grzx_02jpg.jpg"/></td>
						<td><span>王二小</span></td>
						<td><span>全力以赴</span></td>
						<td><span>初级业务员</span></td>
						<td><span>2018/11/23</span></td>
						<td><span>96</span></td>
						<td>
							<a class="pf_a" href="###">查看详情</a>
						</td>
					</tr>
					<tr>
						<td><span>1</span></td>
						<td><img src="img/grzx_02jpg.jpg"/></td>
						<td><span>王二小</span></td>
						<td><span>全力以赴</span></td>
						<td><span>初级业务员</span></td>
						<td><span>2018/11/23</span></td>
						<td><span>96</span></td>
						<td>
							<a class="pf_a" href="###">查看详情</a>
						</td>
					</tr>
					<tr>
						<td><span>1</span></td>
						<td><img src="img/grzx_02jpg.jpg"/></td>
						<td><span>王二小</span></td>
						<td><span>全力以赴</span></td>
						<td><span>初级业务员</span></td>
						<td><span>2018/11/23</span></td>
						<td><span>96</span></td>
						<td>
							<a class="pf_a" href="###">查看详情</a>
						</td>
					</tr>
					<tr>
						<td><span>1</span></td>
						<td><img src="img/grzx_02jpg.jpg"/></td>
						<td><span>王二小</span></td>
						<td><span>全力以赴</span></td>
						<td><span>初级业务员</span></td>
						<td><span>2018/11/23</span></td>
						<td><span>96</span></td>
						<td>
							<a class="pf_a" href="###">查看详情</a>
						</td>
					</tr>
					<tr>
						<td><span>1</span></td>
						<td><img src="img/grzx_02jpg.jpg"/></td>
						<td><span>王二小</span></td>
						<td><span>全力以赴</span></td>
						<td><span>初级业务员</span></td>
						<td><span>2018/11/23</span></td>
						<td><span>96</span></td>
						<td>
							<a class="pf_a" href="###">查看详情</a>
						</td>
					</tr>
					<tr>
						<td><span>1</span></td>
						<td><img src="img/grzx_02jpg.jpg"/></td>
						<td><span>王二小</span></td>
						<td><span>全力以赴</span></td>
						<td><span>初级业务员</span></td>
						<td><span>2018/11/23</span></td>
						<td><span>96</span></td>
						<td>
							<a class="pf_a" href="###">查看详情</a>
						</td>
					</tr>
					<tr>
						<td><span>1</span></td>
						<td><img src="img/grzx_02jpg.jpg"/></td>
						<td><span>王二小</span></td>
						<td><span>全力以赴</span></td>
						<td><span>初级业务员</span></td>
						<td><span>2018/11/23</span></td>
						<td><span>96</span></td>
						<td>
							<a class="pf_a" href="###">查看详情</a>
						</td>
					</tr>
				</table>
			</div>
			
		</div>