<!DOCTYPE html>
<html>
      <head>
        <meta charset="utf-8" />
        <meta name="renderer" content="webkit">
         <title>管理后台 - {$Think.config.site.title}</title>
     <meta name="keywords" content="{$Think.config.site.keywords}">
        <meta name="description" content="{$Think.config.site.keywords}">
         <link rel="Bookmark" href="__ROOT__/favicon.ico" >
        <link rel="Shortcut Icon" href="__ROOT__/favicon.ico" />
        <link rel="stylesheet" type="text/css" href="__STATIC__/css/common.css"/>
        <link rel="stylesheet" type="text/css" href="__STATIC__/css/index.css"/>
        <script type="text/javascript" src="__STATIC__/js/jquery.min.js" ></script>
        <script type="text/javascript" src="__STATIC__/js/commons.js" ></script>
    </head>
    <body class="hei">
           {include file='template/nav_left' /}
      
        
        <!--上导航-->
        <div class="top_nav clearfix">
             <div id="nav" class="nav_con clearfix">
            </div>
              {include file='template/nav_top' /}
           
            
        </div>
        <div id='content'>
            
        </div>
        
        
       
        
        
        
    </body>
    <script type="text/javascript">
         loadhtml('{:\\think\\Url::build("index/welcome")}')
    </script>
</html>



