<!DOCTYPE html>
<html>
      <head>
        <meta charset="utf-8" />
        <meta name="renderer" content="webkit">
         <title>管理后台 - {$Think.config.site.title}</title>
          {include file='template/base' /}
    </head>
    <body class="hei">
           {include file='template/nav_left' /}
      
        
        <!--上导航-->
        <div class="top_nav clearfix">
             <div id="nav" class="nav_con clearfix">
            </div>
              {include file='template/nav_top' /}
           
            
        </div>
        <div id='content'>
            
        </div>
        
        
       
        
        
        
    </body>
    <script type="text/javascript">
         loadhtml('{:\\think\\Url::build("index/welcome")}')
    </script>
</html>



