  <!--左边导航-->
        <div class="lf_nav">
            <div class="top">
                <a href="/">
                    <img class="logo1" src="__STATIC__/img/png/logo1.png"/>
                    <img class="logo2" src="__STATIC__/img/png/logo2.png"/>
                </a>
            </div>
            
            <ul class="lf_ul clearfix">
                <li class="active">
                    <a data-href="{:\\think\\Url::build(\'index/welcome\')}" data-nav="{:\\think\\Url::build(\'index/nav\')}">
                        <span>首页</span>
                    </a>
                </li>
                <li >
                    <a data-href="{:\\think\\Url::build(\'index/welcome\')}" data-nav="{:\\think\\Url::build(\'index/nav\')}">
                        <span>考核待办</span>
                    </a>
                </li>
                <li>
                    <a href="###">
                        <span>考核模板</span>
                    </a>
                </li>
                <li>
                    <a href="###">
                        <span>目标管理</span>
                    </a>
                </li>
                <li>
                    <a data-href="{:\\think\\Url::build(\'admin_role/index')}" >
                        <span>考核结果</span>
                    </a>
                </li>
                <li>
                    <a data-href="{:\\think\\Url::build(\'admin_group/index')}" >
                        <span>团队管理</span>
                    </a>
                </li>
                <li>
                    <a data-href="{:\\think\\Url::build(\'admin_user/index')}" data-nav="{:\\think\\Url::build(\'admin_user/nav\')}">
                        <span>企业设置</span>
                    </a>
                </li>
            </ul>
            
        </div>

<script type="text/javascript">
    $(function(){
            $(".lf_ul li>a").click(function(){
           
                if ($(this).attr('data-href')) {
                    loadhtml($(this).attr('data-href'));
                }
                if ($(this).attr('data-nav')) {
                    loadnav($(this).attr('data-nav'));

                }

            })

    });
    
</script>
        