        <!-- 团队管理 -->
           <!--  <div class="nav_con clearfix">
                <a class="nav_a active" data-href="{:\\think\\Url::build(\'admin_group/index\')}" data-nav="{:\\think\\Url::build(\'admin_group/nav\')}">设置团队目标</a>
                <a class="nav_a" data-href="{:\\think\\Url::build(\'admin_group/synchronousdata\')}" data-nav="{:\\think\\Url::build(\'admin_group/nav\')}" >同步销售数据</a>
            </div> -->
        <!-- 团队管理 -->

            <!-- 考核结果 -->
            <div class="nav_con clearfix">
                <a class="nav_a active"  data-href="{:\\think\\Url::build(\'admin_role/index\')}">个人绩效</a>
                <a class="nav_a" class="nav_a" data-href="{:\\think\\Url::build(\'admin_role/teamperformance\')}" data-nav="{:\\think\\Url::build(\'admin_group/nav\')}">团队绩效</a>
                <a class="nav_a" data-href="{:\\think\\Url::build(\'admin_role/ownerperformance\')}">所有成员绩效</a>
            </div>
            <!-- 考核结果 -->
            
             <!--返回-->
           <!--  <div class="fanhui clearfix">
                <a class="fh_a" href="###">返回</a>
            </div> -->


 <!--个人中心、头像-->
            <div class="head_img">
                <a  data-href="{:\\think\\Url::build(\'Pub/profile\')}'">
                    <span></span>
                    <i>
                        <img src="__STATIC__/img/heda_img.jpg" alt="" />
                    </i>
                </a>
            </div>
            
            <!--消息提醒-->
            <div class="message">
                <a data-href="###">
                    <i class="active"></i>
                </a>
            </div>
            
            <!--搜索-->
            <div class="nav_search">
                <form>
                    <input class="in_text" type="text"/>
                    <input class="in_btn" type="submit" value=""/>
                </form>
            </div>